---
import { Icon } from "astro-icon";
import data from "../../datos/reviews.json";
//console.log(data);
---


<section class="reviews-wrapper difuminar"> <!-- blur -->
  <h2 class="text-center">Reviews</h2>
  <div class="review-container container-xs">
    <button class="review-btn grid-sm review-btn--prev" id="prev" aria-label="Previus Review">
      <Icon name="feather:chevron-left" width="50"/>
    </button>
    <div class="reviews">
      {
        data.slice(data.length - 1).map((review) => (
          <div class="review grid-sm">
              <img src={review.avatar} alt={review.name} class="review-avatar">
              <p class="review-content">{review.content}</p>
              <p class="review-name text-gradient h3">{review.name}</p>
          </div>
        ))
      }
      {
        data.map((review) => (
          <div class="review grid-sm">
              <img src={review.avatar} alt={review.name} class="review-avatar">
              <p class="review-content">{review.content}</p>
              <p class="review-name text-gradient h3">{review.name}</p>
          </div>
        ))
      }
      {
        data.slice(0,1).map((review) => (
          <div class="review grid-sm">
              <img src={review.avatar} alt={review.name} class="review-avatar">
              <p class="review-content">{review.content}</p>
              <p class="review-name text-gradient h3">{review.name}</p>
          </div>
        ))
      }
    </div>

    <div class="indicator-container">
      {
        data.map((review) => (
        <button class={`indicator ${review?.active && 'active'}`}></button>
      ))
      }
    </div>
    <button class="review-btn grid-sm review-btn--next" id="next" aria-label="Next Review">
      <Icon name="feather:chevron-right" width="50"/>
    </button>
  </div>


</section>


<script type="module" src="../../src/js/reviews.js" ></script>

